.logo a {
  display: block;
}

.logo img {
  margin-top: 5px;

  @media (max-width: $tablet-max) {
    margin-top: 10px;
  }

  @media (max-width: $tel-max) {
    width: 35px;
    height: 35px;
  }
}
