.container {
  margin: 0 auto;
  max-width: 1220px;
  width: 95%;

  @media (max-width: $tablet-max) {
    width: 87.01%;
  }

  @media (max-width: $tel-max) {
    min-width: 270px;
    width: 84.37%;
  }
}
